@(skipCurrent: Boolean = true)

@import com.feth.play.module.pa.views.html._

<script type="text/javascript">
function askOpenID(url) {
var openid = prompt("Please enter your OpenID:", "yourname.myopenid.com");
if(openid) {
window.location.href = url + "?p=" + encodeURIComponent(openid);
}
}
</script>

@forProviders(skipCurrent) { p =>
    @if(p.getKey() == "openid") {
        <a class="item" href="javascript:void(0);" onclick="askOpenID('@p.getUrl()');">
    } else {
        <a class="item" href="@p.getUrl()">
    }
            <i class="facebook icon"></i>
            Login with facebook
        </a>
}